.header-about{
    background-color: whitesmoke;
    height: 290px;
}

.title-about{
    color: #6e8492;
    font-size: 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-content: center;
    display: flex;
    padding-top: 90px;
    padding-bottom: 20px;
}

.desc-about{
    color: #000000;
    font-size: 17px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-content: center;
    display: flex;
}

.about{
    background-color: #6e8492;
    color: whitesmoke;
    height: 1285px;
    font-family: pt sans;
 }

.school{
    justify-content: left;
    display: flex;
    margin: 60px;
    margin-left: 180px;
    margin-right: 140px;
    padding-top: 80px;
}

.pic1{
    height: 170px;
    width: 170px;
    border: 3px solid whitesmoke;
    border-radius: 50%;
}

.text1{
    font-size: 23px;
    margin: 70px;
}

.travel{
    justify-content: left;
    display: flex;
    margin: 60px;
    margin-left: 180px;
    margin-right: 140px;
}

.pic2{
    height: 170px;
    width: 170px;
    border: 3px solid whitesmoke;
    border-radius: 50%;
}

.text2{
    font-size: 23px;
    margin: 70px;
}

.food{
    justify-content: left;
    display: flex;
    margin: 60px;
    margin-left: 180px;
    margin-right: 140px;
}

.pic3{
    height: 170px;
    width: 170px;
    border: 3px solid whitesmoke;
    border-radius: 50%;
}

.text3{
    font-size: 23px;
    margin: 70px;
}

.dog{
    justify-content: left;
    display: flex;
    margin: 60px;
    margin-left: 180px;
    margin-right: 140px;
}

.pic4{
    height: 170px;
    width: 170px;
    border: 3px solid whitesmoke;
    border-radius: 50%;
}

.text4{
    font-size: 23px;
    margin: 70px;
}

.music{
    justify-content: left;
    display: flex;
    margin: 60px;
    margin-left: 180px;
    margin-right: 140px;
    padding-bottom: 80px;
}

.pic5{
    height: 170px;
    width: 170px;
    border: 3px solid whitesmoke;
    border-radius: 50%;
}

.text5{
    font-size: 23px;
    margin: 70px;
}