.header-about{
    background-color: rgb(255, 255, 255);
    height: 290px;
}

.title-about{
    color: rgb(135, 167, 143);
    font-size: 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-content: center;
    display: flex;
    padding-top: 90px;
    padding-bottom: 20px;
}

.desc-about{
    color: #000000;
    font-size: 17px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-content: center;
    display: flex;
}

.about{
    padding-top: 1px;
    background-color: rgb(80, 107, 95);
    color: whitesmoke;
    height: 100%;
    font-family: pt sans;
 }

.school{
    justify-content: left;
    display: flex;   
    margin-left: 15%;
    margin-right: 10%;
    padding-top: 5%;
}

.pic1{
    display: flex;
    height: 18%;
    width: 18%;
    border: 3px solid whitesmoke;
    border-radius: 50%;
}

.text1{
    font-size: 1.8vw;
    margin: 8%;
}

.travel{
    justify-content: left;
    display: flex; 
    margin-left: 15%;
    margin-right: 10%;
    padding-top: 5%;
}

.pic2{
    display: flex;
    height: 18%;
    width: 18%;
    border: 3px solid whitesmoke;
    border-radius: 50%;
}

.text2{
    font-size: 1.8vw;
    margin: 8%;
}

.food{
    justify-content: left;
    display: flex;  
    margin-left: 15%;
    margin-right: 10%;
    padding-top: 5%;
}

.pic3{
    display: flex;
    height: 18%;
    width: 18%;
    border: 3px solid whitesmoke;
    border-radius: 50%;
}

.text3{
    font-size: 1.8vw;
    margin: 8%;
}

.dog{
    justify-content: left;
    display: flex;    
    margin-left: 15%;
    margin-right: 10%;
    padding-top: 5%;
}

.pic4{
    display: flex;
    height: 18%;
    width: 18%;
    border: 3px solid whitesmoke;
    border-radius: 50%;
}

.text4{
    font-size: 1.8vw;
    margin: 8%;
}

.music{
    justify-content: left;
    display: flex;
    margin-left: 15%;
    margin-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.pic5{
    display: flex;
    height: 18%;
    width: 18%;
    border: 3px solid whitesmoke;
    border-radius: 50%;
}

.text5{
    font-size: 1.8vw;
    margin: 8%;
}