.header-about{
    background-color: white;
}

.header1{
    color: #acbda1;
    font-size: 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-content: center;
    display: flex;
    padding-top: 90px;
    padding-bottom: 20px;
}

.desc1{
    color: black;
    font-size: 17px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-content: center;
    display: flex;
    margin-bottom: 90px;
}

.about{
   background-color: #acbda1;
   color: white;
   height: 1200px;
   font-family: pt sans;
}

.school{
    justify-content: left;
    display: flex;
    margin: 50px;
    margin-left: 180px;
    margin-right: 140px;
    padding-top: 60px;
}

.pic1{
    height: 170px;
    width: 170px;
    border: 3px solid white;
    border-radius: 50%;
}

.text1{
    font-size: 23px;
    margin: 70px;
}

.travel{
    justify-content: left;
    display: flex;
    margin: 50px;
    margin-left: 180px;
    margin-right: 140px;
}

.pic2{
    height: 170px;
    width: 170px;
    border: 3px solid white;
    border-radius: 50%;
}

.text2{
    font-size: 23px;
    margin: 70px;
}

.food{
    justify-content: left;
    display: flex;
    margin: 50px;
    margin-left: 180px;
    margin-right: 140px;
}

.pic3{
    height: 170px;
    width: 170px;
    border: 3px solid white;
    border-radius: 50%;
}

.text3{
    font-size: 23px;
    margin: 70px;
}

.dog{
    justify-content: left;
    display: flex;
    margin: 50px;
    margin-left: 180px;
    margin-right: 140px;
}

.pic4{
    height: 170px;
    width: 170px;
    border: 3px solid white;
    border-radius: 50%;
}

.text4{
    font-size: 23px;
    margin: 70px;
}

.music{
    justify-content: left;
    display: flex;
    margin: 50px;
    margin-left: 180px;
    margin-right: 140px;
    padding-bottom: 60px;
}

.pic5{
    height: 170px;
    width: 170px;
    border: 3px solid white;
    border-radius: 50%;
}

.text5{
    font-size: 23px;
    margin: 70px;
}