.header-extra{
    background-color: whitesmoke;
    height: 290px;
}

.title-extra{
    color: #6e8492;
    font-size: 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-content: center;
    display: flex;
    padding-top: 90px;
    padding-bottom: 20px;
}

.desc-extra{
    color: black;
    font-size: 17px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-content: center;
    display: flex;
}

.extra{
    background-color: #6e8492;
    color: whitesmoke;
    height: 100%;
    font-family: pt sans;
}

.heading-extra{
    text-align: center;
    padding-top: 5%;
    font-size: 3.5vw;
}

.b1{
    justify-content:space-between;
    font-size: 0.9vw;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 5%;
}

.pc1{
    display: flex;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1%;
}

.b2{
    justify-content:space-between;
    font-size: 0.9vw;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 5%;
}

.pc2{
    display: flex;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1%;
}

.b3{
    justify-content:space-between;
    font-size: 0.9vw;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 5%;
}

.pc3{
    display: flex;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1%;
}

.b4{
    justify-content:space-between;
    font-size: 0.9vw;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 5%;
}

.pc4{
    display: flex;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1%;
}

.b5{
    justify-content:space-between;
    font-size: 0.9vw;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 5%;
}

.pc5{
    display: flex;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1%;
}