.intro {
    background: whitesmoke;
    height: 430px;
}


.intro-text {
    float: left;
}

.header {
    color: #acbda1;
    font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	text-align: left;
    padding-top: 140px;
    padding-left: 435px;
}

.name {
    color:black;
    font-family: Arial, Helvetica, sans-serif;
	font-size: 53px;
	text-align: left;
    padding-left: 325px;

}

.text{
    color:black;
    font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	text-align: right;
    padding-top: 10px;
    padding-left: 70px;
    max-width: 600px;

}

.profile {
    max-width: 280px;
    float: right;
    padding-top: 75px;
    padding-right: 250px;


}

.social{
    background: #acbda1;
    height: 210px;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.github{
    filter: invert(1);
    max-width: 80px;
    padding-top: 65px;
    padding-right: 50px;
    float: inline-start
}

.devpost{
    filter: invert(1);
    max-width: 80px;
    padding-top: 65px;
    padding-right: 50px;
    float: inline-start
}

.resume{
    filter: invert(1);
    max-width: 80px;
    padding-top: 65px;
    padding-right: 20px;
    float: inline-start
}

.email{
    filter: invert(1);
    max-width: 80px;
    padding-top: 65px;
    padding-left: 30px;
    float: inline-start
}

.linkedin{
    filter: invert(1);
    max-width: 80px;
    padding-top: 65px;
    padding-left: 50px;
    float: inline-start
}
