.intro {
    background: whitesmoke;
    height: 450px;
    align-items: center;
    display: flex;
}

.intro-text{
    margin-top: 130px;
    margin-bottom: 100px;
}

.header {
    color: #acbda1;
    font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	text-align: left;
    margin-left: 455px;
}

.name {
    color:black;
    font-family: Arial, Helvetica, sans-serif;
	font-size: 53px;
	text-align: left;
    margin-left: 355px;

}

.text{
    color:black;
    font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	text-align: right;
    padding-top: 10px;
    margin-left: 100px;
    max-width: 600px;

}

.profile {
    max-width: 280px;
    float: right;
    margin-top: 105px;
    margin-bottom: 100px;
    margin-left: 50px;
    margin-right: 80px;


}

.social{
    background: #acbda1;
    height: 210px;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.github{
    filter: invert(1);
    max-width: 80px;
    padding-top: 65px;
    padding-right: 50px;
    float: inline-start
}

.devpost{
    filter: invert(1);
    max-width: 80px;
    padding-top: 65px;
    padding-right: 50px;
    float: inline-start
}

.resume{
    filter: invert(1);
    max-width: 80px;
    padding-top: 65px;
    padding-right: 20px;
    float: inline-start
}

.email{
    filter: invert(1);
    max-width: 80px;
    padding-top: 65px;
    padding-left: 30px;
    float: inline-start
}

.linkedin{
    filter: invert(1);
    max-width: 80px;
    padding-top: 65px;
    padding-left: 50px;
    float: inline-start
}
