.intro {
    background: whitesmoke;
    height: 430px;
}


.intro-text {
    float: left;
}

.header {
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	text-align: left;
    padding-top: 180px;
    padding-left: 350px;
}

.name {
    color:black;
    font-family: Arial, Helvetica, sans-serif;
	font-size: 53px;
	text-align: left;
    padding-left: 240px;

}

.profile {
    max-width: 300px;
    padding-top: 65px;
    padding-right: 300px;
    float: right;

}

.social{
    background: grey;
    height: 300px;
}

.github{
    max-width: 80px;
    padding-top: 100px;
    float: inline-start
}

.linkedin{
    max-width: 80px;
    padding-top: 100px;
    float: inline-start
}

.resume{
    max-width: 80px;
    padding-top: 100px;
    float: inline-start
}

.email{
    max-width: 80px;
    padding-top: 100px;
    float: inline-start
}

.devpost{
    max-width: 80px;
    padding-top: 100px;
    float: inline-start
}



