.block{
    background-color: rgb(236, 236, 236);
    height: 1300px;
}

.title-projects{
    color: #acbda1;
    font-size: 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-content: center;
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
}

.row1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.p1{
    position: relative;
    text-align: center;
    color: transparent;
}

.p1:hover .colourme{
    opacity: 0.2;
}

.p1:hover .t1{
    color: rgb(0, 0, 0);
}

.t1{
    font-size: 20px;
    font-family: pt sans;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .5s ease;
}

.colourme{
    width: 550px;
    height: 320px;
    transition: .5s ease;
    margin: 20px;
}

.p2{
    position: relative;
    text-align: center;
    color: transparent;
}

.p2:hover .recycle{
    opacity: 0.2;
}

.p2:hover .t2{
    color: rgb(0, 0, 0);
}

.t2{
    font-size: 20px;
    font-family: pt sans;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .5s ease;
}

.recycle{
    width: 550px;
    height: 320px;
    transition: .5s ease;
    margin: 20px;
}


.row2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.p3{
    position: relative;
    text-align: center;
    color: transparent;
}

.p3:hover .marblemod{
    opacity: 0.2;
}

.p3:hover .t3{
    color: rgb(0, 0, 0);
}

.t3{
    font-size: 20px;
    font-family: pt sans;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .5s ease;
}

.marblemod{
    width: 550px;
    height: 320px;
    transition: .5s ease;
    margin: 20px;
}

.p4{
    position: relative;
    text-align: center;
    color: transparent;
}

.p4:hover .vbook{
    opacity: 0.2;
}

.p4:hover .t4{
    color: rgb(0, 0, 0);
}

.t4{
    font-size: 20px;
    font-family: pt sans;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .5s ease;
}

.vbook{
    width: 550px;
    height: 320px;
    transition: .5s ease;
    margin: 20px;
}

.row3{
    display: flex;
    justify-content: center;
    align-items: center;
}

.p5{
    position: relative;
    text-align: center;
    color: transparent;
}

.p5:hover .cadmodel{
    opacity: 0.2;
}

.p5:hover .t5{
    color: #000000;
}

.t5{
    font-size: 20px;
    font-family: pt sans;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .5s ease;
}

.cadmodel{
    width: 550px;
    height: 320px;
    transition: .5s ease;
    margin: 20px;
}