.header-projects{
    background-color: whitesmoke;
    height: 290px;
}

.title-projects{
    color: #6e8492;
    font-size: 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-content: center;
    display: flex;
    padding-top: 90px;
    padding-bottom: 20px;
}

.desc-projects{
    color: #000000;
    font-size: 17px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-content: center;
    display: flex;
}

.block{
    background-color: #6e8492;
    color: whitesmoke;
    height: 2120px;
    text-align: center;
}

.row1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 50px;
    padding-top: 80px;
}

.p1{
    position: relative;
    top: 0;
    left: 0;
}

.p1:hover .colourme_gif{
    opacity: 1;
}

.colourme{
    position: relative;
    top: 0;
    left: 0;
    width: 600px;
    height: 350px;
}

.colourme_gif{
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    
}

.t1{
    font-size: 20px;
    font-family: pt sans;
    margin-left: 80px;
}

.row2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 50px;
}

.p2{
    position: relative;
    top: 0;
    left: 0;
}

.p2:hover .recycler_gif{
    opacity: 1;
}

.recycler{
    position: relative;
    top: 0;
    left: 0;
    width: 600px;
    height: 350px;
}

.recycler_gif{
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    
}

.t2{
    font-size: 20px;
    font-family: pt sans;
    margin-left: 80px;
}

.row3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 50px;
}

.p3{
    position: relative;
    top: 0;
    left: 0;
}

.p3:hover .marblemod_gif{
    opacity: 1;
}

.marblemod{
    position: relative;
    top: 0;
    left: 0;
    width: 600px;
    height: 350px;
}

.marblemod_gif{
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    
}

.t3{
    font-size: 20px;
    font-family: pt sans;
    margin-left: 80px;
}

.row4{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 50px;
}

.p4{
    position: relative;
    top: 0;
    left: 0;
}

.p4:hover .vbook_gif{
    opacity: 1;
}

.vbook{
    position: relative;
    top: 0;
    left: 0;
    width: 600px;
    height: 350px;
}

.vbook_gif{
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    
}

.t4{
    font-size: 20px;
    font-family: pt sans;
    margin-left: 80px;
}

.row5{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 50px;
}

.p5{
    position: relative;
    top: 0;
    left: 0;
}

.p5:hover .cadmodel_gif{
    opacity: 1;
}

.cadmodel{
    position: relative;
    top: 0;
    left: 0;
    width: 600px;
    height: 350px;
}

.cadmodel_gif{
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    
}

.t5{
    font-size: 20px;
    font-family: pt sans;
    margin-left: 80px;
}