.nav-container {
	background: gainsboro;
	height: 90px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: sticky;
}

.link-wrapper {
	display: flex;
	width:32%;
}

.nav-link {
	margin: 20px;
	text-decoration: none;
	color: black;
}

.logo-link {
	color: black;
	font-size: 35px;
	max-width: 500px;
	text-decoration: none;
	padding-left: 30px;
}