
.nav-container {
	background: #acbda1;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: sticky;
}

.link-wrapper {
	display: flex;
	width:42%;
	font-size: 13px;
}

.nav-link {
	margin: 20px;
	text-decoration: none;
	color: white;
}

.logo {
	max-width: 90px;
	align-content: center;
	padding-left: 20px;
}