.nav-container {
	background: gray;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	height: 17vh;
	color: white;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: sticky;
	top: 0;
	z-index: 999;
}

.link-wrapper {
	display: flex;
	width: 40%;
}

.nav-link {
	margin: 20px;
	text-decoration: none;
	color: white;
}

.homepage-link {
	max-width: 50px;
	
}

.bot {
	max-width: 80px;
}